@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .card-figma {
    @apply bg-white rounded-2xl border border-slate-200/80 shadow-xs transition-all;
  }
}
